.overlay.selected {
	outline: 2px solid rgb(35, 9, 119);
}

#capture-button:disabled {
	opacity: 0.4;
	cursor: not-allowed;
}

#capture-button:not(:disabled) {
	opacity: 1;
	cursor: pointer;
}

#preview {
	position: relative;
	width: 600px;
	height: 450px;
	overflow: hidden;
	border: 1px solid black;
}

#preview-overlay{
	position: absolute;
	z-index: 2;
}

#preview-image {
	width: 100%;
	height: 100%;
	object-fit: cover;
	position: relative;
	z-index: 1;
}