.overlay.selected {
	outline: 2px solid rgb(35, 9, 119);
}

#captureButton:disabled {
	opacity: 0.4;
	cursor: not-allowed;
}

#captureButton:not(:disabled) {
	opacity: 1;
	cursor: pointer;
}

#preview {
	position: relative;
	width: 500px;
	height: 300px;
	border: 1px solid black;
}

#preview-overlay{
	max-width: 200px;
	max-height: 200px;

	position: absolute;
	top: 50%;
	left: 50%;

	transform: translate(-50%, -50%)
}