p {
	font-size: 20px;
	color: rgb(108, 130, 91);
}

h1 {
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: rgba(201, 197, 209, 0.825);

}

#copyright {
	position: absolute;
	bottom: 10px;
	left: 10px;
	color: rgb(48, 46, 50);
	font-size: 10px;
}
