services:

  frontend:
    build:
      context: ./frontend
      dockerfile: Dockerfile
    container_name: frontend_nginx
    ports:
      - "443:443"
      - "80:80"
    restart: always
    volumes:
      - ./frontend/dist:/usr/share/nginx/html
